{% extends "base.html" %}
{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block js %}
<script type=text/javascript src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>Air Monitor Mapping</h1>
    <p class="lead"><a href="{{ url_for('results', lat=37.8740216, long=-122.2703074) }}">Test link</a>Here's some text</p>
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" onkeydown="if (event.keyCode == 13) { getPlace(); return false; }" placeholder="Search for your location" id="search-box">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="getLocation();"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></button>
            <button class="btn btn-default" type="button" onclick="getPlace();"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div>
</div>
{% endblock %}
