{% extends "base.html" %}
{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block js %}
<script type=text/javascript src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block body %}
<div class="background-image"></div>
<div class="container">
  <div class="jumbotron">
    <h1>California Air Monitor Mapping</h1>
    <br />
    <h4>What is air monitoring?</h4>
    <p class="lead">The air you breathe is filled with various pollutants released as a result of human activity. While a low pollution level may be safe, high levels of pollution may lead to health risks. In order to track air quality, the federal Environmental Protection Agency (EPA), the California Air Resources Board (CARB), and various district-level authorities have established permanent monitoring stations to track air quality in real-time.</p>
    <h4>What is environmental justice?</h4>
    <p class="lead">Environmental Justice is the idea that all people, regardless of race, national origin, or income, should be treated equally and fairly with respect to development, implementation, and enforcement of environmental laws. Environmental justice advocates seek to raise awareness about and create policy to remedy the undue environmental burdens suffered by low-income communities and communities of color.</p>
    <h4>How are the two connected?</h4>
    <p class="lead">Vulnerable communities are more likely to experence higher air pollution, and therefore greater health risks, than other communities. Before this injustice can be fixed through policy, however, vulnerable communities must have effective air monitoring to gather concrete evidence of the injustice. Unfortunately, <a href="https://doi.org/10.1016/j.envres.2012.04.008" target="_blank">vulnerable communities are also more likely to have little or no air monitoring in their area</a>, making it difficult for them to realize that a problem even exists!</p>
    <p class="lead">This mapping tool aims to raise awareness about the air monitoring (or lack of air monitoring) in your area. Input your address or ZIP code below to be shown a map of the air monitors in your community and a summary of air quality in your area.</p>

    <div class="row">
      <div class="col-lg-12">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" onkeydown="if (event.keyCode == 13) { getPlace(); return false; }" placeholder="Search for your address or ZIP code" id="search-box">
          <span class="input-group-btn">
            <!--<button class="btn btn-default" type="button" onclick="getLocation();"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></button>-->
            <button class="btn btn-default" type="button" onclick="getPlace();"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div>
</div>
{% endblock %}
