#map {
  height: 100%;
  width: 100%;
  position: fixed;
}

.sidebar-nav-fixed {
  margin-top: 15px;
	width:40%;
  height:95%;
}

.container {
  width: 90%;
}

.well {
  height: 100%;
}

.container .jumbotron {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.jumbotron p {
  font-size: 14px;
  font-weight: 200;
  font-family: sans-serif;
}
